<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.espol.artauthenticator">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/scart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/scart"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtAuthenticator"
        tools:targetApi="31">
        <activity
            android:name=".MostrarImagen"
            android:exported="false" />
        <activity
            android:name=".VerificarImagen"
            android:exported="false" />
        <activity
            android:name=".RegistrarImagen"
            android:exported="false" />
        <activity
            android:name=".Funcionamiento"
            android:exported="false" />
        <activity
            android:name=".Estadistica"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>